<h1>ASKme!!! New User Signup Page</h1>
<!-- <p>See Me in views/static/index.html.erb</p> -->

<!-- this below worksl -->
<!-- <p>Sign Up Here</p>
<form action="/index" method="get"> 
  New Username:<input type="text" name="user[username]"><br>
  New Password:<input type="text" name="user[password]"><br>
  <p><input type="submit" value="Sign Up"></p>
 </form> -->

<h3>Sign Up Here!</h3>
	<form action=/index method=post>
		<input type=text placeholder="New Username" name="user[username]"><br>
		<input type=text placeholder="New Password" name="user[password]"><br>
		<p>
		<input type=submit value="Sign up">
		</p>
	</form>


